* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-out, visibility 1s ease-out;
  text-align: center;
  animation: fadeOut 1s forwards;
  animation-delay: 4s;
}
#loader .spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@media screen and (min-width: 1024px) {
  #loader .spinner {
    width: 100px;
    height: 100px;
  }
}
#loader .loader-text {
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  #loader .loader-text {
    font-size: 34px;
    margin-top: 40px;
  }
}
#loader .redirect-message {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  #loader .redirect-message {
    font-size: 18px;
    margin-top: 20px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
  margin-top: 15px;
}
header .header__logo img {
  width: 162px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}
header .header__location {
  background-color: #EAEAEA;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  box-shadow: 1px 3px 12px -2px rgba(0, 0, 0, 0.38);
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__location i {
  font-size: 18px;
  color: #353535;
}
header .header__location p {
  font-size: 16px;
  font-weight: bold;
  color: #353535;
}
@media screen and (min-width: 1024px) {
  header .header__location {
    box-shadow: none;
  }
}

main .main__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  background: #F6F6F6;
}
main .main__presentation section {
  max-width: 600px;
}
main .main__presentation section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
main .main__presentation section p {
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main .main__presentation section {
    max-width: 100%;
    padding-bottom: 20px;
  }
  main .main__presentation section h1 {
    font-size: 40px;
    white-space: nowrap;
  }
  main .main__presentation section p {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
main .button {
  width: 218px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(36, 36, 36, 0.251);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
  background: linear-gradient(-185.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  border-radius: 25px;
}
main .button:hover {
  background: linear-gradient(-185deg, #FF79DA 20.74%, #9356DC 120%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.349);
}
main .main-fonctionnement {
  background-color: #ffffff;
  padding-top: 50px;
}
@media screen and (min-width: 1024px) {
  main .main-fonctionnement {
    padding: 20px 120px 0;
    display: flex;
    flex-direction: column;
  }
}
main .main-fonctionnement__h1 {
  margin-left: auto;
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  main .main-fonctionnement__h1 {
    padding-left: 260px;
    padding-top: 35px;
  }
}
main .main-fonctionnement__cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  main .main-fonctionnement__cards {
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }
}
main .main-fonctionnement__card {
  width: 335px;
  height: 72px;
  background-color: rgb(247, 247, 247);
  margin: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.349);
  font-size: 16px;
  font-weight: bold;
  text-align: start;
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-radius: 25px;
  position: relative;
}
main .main-fonctionnement__card:hover i {
  color: #9356DC;
  transition: transform 0.3s ease, color 0.3s ease;
}
main .main-fonctionnement .circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: -11px;
}
main .main-fonctionnement i {
  color: #7E7E7E;
  padding-right: 20px;
}
main .main-restaurants {
  background-color: #F6F6F6;
  padding-bottom: 70px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-restaurants section {
  width: 100%;
}
main .main-restaurants a {
  text-decoration: none;
  color: inherit;
}
main .main-restaurants__h1 {
  padding-left: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main .main-restaurants__h1 {
    padding-left: 385px;
    padding-bottom: 20px;
  }
}
main .main-restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  main .main-restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    padding-left: 40px;
  }
}
main .main-restaurants__card {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  main .main-restaurants__card {
    width: 500px;
    height: 251px;
  }
}
main .main-restaurants__img {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-restaurants__text {
  padding: 15px;
  text-align: start;
  position: relative;
}
main .main-restaurants__text h2 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}
main .main-restaurants__text p {
  font-size: 17px;
}
main .main-restaurants__heart {
  position: absolute;
  top: 185px;
  right: 25px;
  z-index: 1;
}
main .main-restaurants__heart input[type=checkbox] {
  display: none;
}
main .main-restaurants__heart label {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}
main .main-restaurants__heart .heart-empty,
main .main-restaurants__heart .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
main .main-restaurants__heart .heart-empty {
  color: #000000;
  opacity: 1;
  visibility: visible;
}
main .main-restaurants__heart .heart-full {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  visibility: hidden;
}
main .main-restaurants__heart .heart-full.active,
main .main-restaurants__heart input[type=checkbox]:checked + label .heart-full {
  opacity: 1;
  visibility: visible;
}
main .main-restaurants__heart .heart-empty.inactive,
main .main-restaurants__heart input[type=checkbox]:checked + label .heart-empty {
  opacity: 0;
  visibility: hidden;
}
main .main-restaurants__new {
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 2px;
  text-align: center;
  line-height: 29px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background-color: #353535;
  padding: 30px;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
@media screen and (min-width: 1024px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: end;
  }
}
footer .footer-title {
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer-title {
    order: 4;
    padding-left: 50px;
    padding-right: 50px;
  }
}
footer .footer-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin: 3px 0;
}
@media screen and (min-width: 1024px) {
  footer .footer-link {
    padding-top: 10px;
  }
  footer .footer-link.restaurant, footer .footer-link.partner {
    padding-right: 5px;
  }
  footer .footer-link.legal {
    padding-left: 30px;
  }
  footer .footer-link.contact {
    padding-left: 9px;
  }
}
footer .footer-link .footer__icon {
  font-size: 14px;
  margin-right: 6px;
  min-width: 20px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */